SSL - ProjectMaintenance/Web References/ws_securityuser/securityuser.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XMLINPUT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XMLSTRING" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XMLSTRING" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SEC_USER" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PASSWORD_" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XMLSTRING" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckPasswordResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XMLSTRING" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XMLINPUT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XMLSTRING" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XMLSTRING" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetActive">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XMLSTRING" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetActiveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetActiveResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XMLSTRING" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAll">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XMLSTRING" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XMLSTRING" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetByEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EMPLOYEE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XMLSTRING" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetByEmployeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetByEmployeeResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XMLSTRING" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBySecurityUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SEC_USER" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XMLSTRING" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBySecurityUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBySecurityUserResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XMLSTRING" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadSchema">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XMLSchema" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadSchemaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadSchemaResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XMLSchema" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Save">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XMLINPUT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XMLSTRING" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XMLSTRING" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SEC_USER" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PASSWORD_" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XMLSTRING" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetPasswordResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XMLSTRING" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddSoapIn">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="AddSoapOut">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="CheckPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:CheckPassword" />
  </wsdl:message>
  <wsdl:message name="CheckPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:CheckPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="GetActiveSoapIn">
    <wsdl:part name="parameters" element="tns:GetActive" />
  </wsdl:message>
  <wsdl:message name="GetActiveSoapOut">
    <wsdl:part name="parameters" element="tns:GetActiveResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllSoapIn">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="GetAllSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="GetByEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:GetByEmployee" />
  </wsdl:message>
  <wsdl:message name="GetByEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:GetByEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="GetBySecurityUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetBySecurityUser" />
  </wsdl:message>
  <wsdl:message name="GetBySecurityUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetBySecurityUserResponse" />
  </wsdl:message>
  <wsdl:message name="ReadSchemaSoapIn">
    <wsdl:part name="parameters" element="tns:ReadSchema" />
  </wsdl:message>
  <wsdl:message name="ReadSchemaSoapOut">
    <wsdl:part name="parameters" element="tns:ReadSchemaResponse" />
  </wsdl:message>
  <wsdl:message name="SaveSoapIn">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="SaveSoapOut">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="SetPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:SetPassword" />
  </wsdl:message>
  <wsdl:message name="SetPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:SetPasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="SecurityUserSoap">
    <wsdl:operation name="Add">
      <wsdl:input message="tns:AddSoapIn" />
      <wsdl:output message="tns:AddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckPassword">
      <wsdl:input message="tns:CheckPasswordSoapIn" />
      <wsdl:output message="tns:CheckPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetActive">
      <wsdl:input message="tns:GetActiveSoapIn" />
      <wsdl:output message="tns:GetActiveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input message="tns:GetAllSoapIn" />
      <wsdl:output message="tns:GetAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetByEmployee">
      <wsdl:input message="tns:GetByEmployeeSoapIn" />
      <wsdl:output message="tns:GetByEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBySecurityUser">
      <wsdl:input message="tns:GetBySecurityUserSoapIn" />
      <wsdl:output message="tns:GetBySecurityUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadSchema">
      <wsdl:input message="tns:ReadSchemaSoapIn" />
      <wsdl:output message="tns:ReadSchemaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input message="tns:SaveSoapIn" />
      <wsdl:output message="tns:SaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetPassword">
      <wsdl:input message="tns:SetPasswordSoapIn" />
      <wsdl:output message="tns:SetPasswordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SecurityUserSoap" type="tns:SecurityUserSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPassword">
      <soap:operation soapAction="http://tempuri.org/CheckPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActive">
      <soap:operation soapAction="http://tempuri.org/GetActive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByEmployee">
      <soap:operation soapAction="http://tempuri.org/GetByEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBySecurityUser">
      <soap:operation soapAction="http://tempuri.org/GetBySecurityUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadSchema">
      <soap:operation soapAction="http://tempuri.org/ReadSchema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPassword">
      <soap:operation soapAction="http://tempuri.org/SetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SecurityUserSoap12" type="tns:SecurityUserSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://tempuri.org/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPassword">
      <soap12:operation soapAction="http://tempuri.org/CheckPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActive">
      <soap12:operation soapAction="http://tempuri.org/GetActive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap12:operation soapAction="http://tempuri.org/GetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByEmployee">
      <soap12:operation soapAction="http://tempuri.org/GetByEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBySecurityUser">
      <soap12:operation soapAction="http://tempuri.org/GetBySecurityUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadSchema">
      <soap12:operation soapAction="http://tempuri.org/ReadSchema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap12:operation soapAction="http://tempuri.org/Save" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPassword">
      <soap12:operation soapAction="http://tempuri.org/SetPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SecurityUser">
    <wsdl:port name="SecurityUserSoap" binding="tns:SecurityUserSoap">
      <soap:address location="http://sslvmsql1/ws_mfgsag/securityuser.asmx" />
    </wsdl:port>
    <wsdl:port name="SecurityUserSoap12" binding="tns:SecurityUserSoap12">
      <soap12:address location="http://sslvmsql1/ws_mfgsag/securityuser.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>